importFrom(magrittr, "%>%")
importFrom(ggplot2, '%+replace%')
importFrom(rlang, ':=')
importFrom(gt, "gt")
importFrom(gt, "fmt_markdown")
importFrom(gt, "tab_style")
importFrom(gt, "cell_text")
importFrom(gt, "cells_body")
importFrom("grDevices", "colorRampPalette")
export(OVATable)
export(addDataToProtein)
export(boxData)
export(boxDimensions)
export(containsModification)
export(createProteinData)
export(dfToModPositions)
export(displayProtein)
export(displayProteinText)
export(endPosition)
export(getAllModPositionInProtein)
export(getModPositionInProtein)
export(getPeptideStart)
export(getPositions)
export(graphsAdjust)
export(mapPeptidesToProtein)
export(modPositions)
export(modPositionsToDF)
export(plotProteinVariable)
export(prepare)
export(proteinCoverage)
export(rowsAndcolumns)
export(standardProtein)
export(startPosition)
export(theme_minimal_adapted)
export(whichModifications)
export(log10add)
export(log10p)
export(translateToFixedColors)
export(translateRangeToColors)
export(translateRangesToColors)
export(translateToGradientColors)
export(addStyleElement)
